/.DS_Store
/AIP_Style_4thed.pdf
/CAF-Dataset-Glossary.ods
/CAF_Anomalous_Consumption_Detection.ipynb
/Challenge-group7.pdf
/Energy Line Apr 2022-2024.csv.zip
/EnergyTypes.pdf
/Energy_LineApril2022to2024.csv
/Group 11 - Corporate Project Executive Summary.pdf
/Presentacion CAF_IE_V01.pptx
/SGC-DPS-LM10-MUS-Energia_ENG.pdf
/SyllabusMBD23PT-1.pdf
/capstone_test.ipynb
/copstone_test.py
/test.ipynb
/test1.ipynb